version: '3'

volumes:
  pg_data:
  static:

services:
  db:
    image: postgres:13
    volumes:
      - pg_data:/var/lib/postgresql/data
  backend:
    build: ./backend/
    env_file: .env
  frontend:
    env_file: .env
    build: ./frontend/
    command: cp -r /app/build/. /static/
    volumes:
      - static:/static
  gateway:
    build: ./gateway/
    env_file: .env
    ports:
      - 8000:80
    volumes:
      - static:/static
